services:
  mongo:
    container_name: mongo
    image: mongo:8
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27018:27017"
    restart: always
  redis:
    container_name: redis
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
  backend:
    container_name: backend
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - SQL_SERVER=${SQL_SERVER}
      - SQL_DB=${SQL_DB}
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
      - UPLOAD_SERVICE_URL=http://cdn:5001
      - REDIS_URL=${REDIS_URL}
      - SFTP_HOST=${SFTP_HOST}
      - SFTP_PORT=${SFTP_PORT}
      - SFTP_COUCHICHING_USER=${SFTP_COUCHICHING_USER}
      - SFTP_COUCHICHING_PASS=${SFTP_COUCHICHING_PASS}
      - SFTP_RANKIN_USER=${SFTP_RANKIN_USER}
      - SFTP_RANKIN_PASS=${SFTP_RANKIN_PASS}
      - SFTP_JOCKO_POINT_USER=${SFTP_JOCKO_POINT_USER}
      - SFTP_JOCKO_POINT_PASS=${SFTP_JOCKO_POINT_PASS}
      - SFTP_WALPOLE_USER=${SFTP_WALPOLE_USER}
      - SFTP_WALPOLE_PASS=${SFTP_WALPOLE_PASS}
      - SFTP_SARNIA_USER=${SFTP_SARNIA_USER}
      - SFTP_SARNIA_PASS=${SFTP_SARNIA_PASS}
      - SFTP_SILVER_GRIZZLY_USER=${SFTP_SILVER_GRIZZLY_USER}
      - SFTP_SILVER_GRIZZLY_PASS=${SFTP_SILVER_GRIZZLY_PASS}
      - SFTP_OLIVER_USER=${SFTP_OLIVER_USER}
      - SFTP_OLIVER_PASS=${SFTP_OLIVER_PASS}
      - SFTP_OSOYOOS_USER=${SFTP_OSOYOOS_USER}
      - SFTP_OSOYOOS_PASS=${SFTP_OSOYOOS_PASS}
    depends_on:
      - mongo
      - redis
    restart: always
  cdn:
    container_name: cdn
    build: ./cdn
    volumes:
      - uploads:/app/uploads
    ports:
      - "5001:5001"
    depends_on:
      - mongo
    restart: always
  
  # signaling:
  #   container_name: signaling
  #   build:
  #     context: ./signaling
  #     dockerfile: Dockerfile
  #   ports:
  #     - "5002:5002"
  #   restart: always

  frontend:
    container_name: frontend
    build: ./frontend
    volumes:
      - dist:/app/dist
    depends_on:
      - backend
      - cdn
    restart: no

  caddy:
    container_name: webserver
    image: caddy:latest
    ports:
      - "3000:3000"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - dist:/usr/share/caddy
    depends_on:
      - frontend
    restart: always

volumes:
  dist:
  uploads:
  mongodb_data:
  redis_data:
